*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    transition: .8s;
}

div{
    display: flex;
    align-items:  center;
    justify-content: center;
    width: 100px;
    height: 100px;
    font-size: 2em;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: none;
    box-shadow: none;
    border: 1px outset;
}

h2{
    color: dimgray;
    display: none;
    text-align: center;
}

.white-mode{
    background-color: #f6f6f6;
}

.dark-mode{
    background-color: #000;
}

.dark-mode div{
    background-image: url('../img/pidao.jpg');
}

.dark-mode h2{
    position: absolute;
    top: 15px;
    transform: translate(repeat(-50%));
    display: block;
}